{% extends "base.html" %}
{% block content %}

<div class="max-w-xl mx-auto my-16 bg-white shadow-xl rounded-2xl p-8">

    <h2 class="text-2xl font-bold mb-6 text-center text-gray-700">
        Create Event
    </h2>

    <!-- Django Messages -->
    {% if messages %}
        {% for message in messages %}
            <div class=f" mb-4 px-4 py-3 rounded-lg 
                {% if message.tags == 'success' %} bg-green-100 text-green-700 
                {% elif message.tags == 'error' %} bg-red-100 text-red-700 
                {% else %} bg-gray-100 text-gray-700 
                {% endif %} ">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <form method="POST" enctype="multipart/form-data" class="space-y-5">
        {% csrf_token %}

        {% for field in form %}
            <div>
                <label class="block mb-2 font-medium text-gray-600">
                    {{ field.label }}
                </label>

                {{ field }}

                {% if field.errors %}
                    <p class="text-red-500 text-sm mt-1">
                        {{ field.errors|striptags }}
                    </p>
                {% endif %}
            </div>
        {% endfor %}

        <button type="submit"
            class="w-full py-3 rounded-xl bg-blue-600 hover:bg-blue-700 transition duration-300 text-white font-semibold">
            Submit
        </button>
    </form>

</div>

{% endblock content %}
